<div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                <li class="menu-title">Services</li>

                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-email"></i><span> Trademarks <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a [routerLink]="['/trademark-monitoring']" routerLinkActive="router-link-active" >Trademark Monitoring</a></li>
                        <li><a [routerLink]="['/trademark-search']" routerLinkActive="router-link-active" >Trademark Search</a></li>
                        <li><a [routerLink]="['/trademark-registration']" routerLinkActive="router-link-active" >Trademark Registration</a></li>
                        <li><a [routerLink]="['/trademark-renewal']" routerLinkActive="router-link-active" >Trademark Renewal</a></li>
                        <li><a [routerLink]="['/recordals']" routerLinkActive="router-link-active" >Recordals</a></li>
                        <li><a [routerLink]="['/response-of-refusal']" routerLinkActive="router-link-active" >Response to Refusal</a></li>
                        <li><a [routerLink]="['/trademark-opposition']" routerLinkActive="router-link-active" >Trademark Opposition</a></li>
                        <li><a href="email-compose.html">Sector Monitoring</a></li>
                        <li><a href="email-compose.html">Validation</a></li>
                        <li><a href="email-compose.html">Translation</a></li>
                        <li><a href="email-compose.html">Patent Drafting</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-email"></i><span> Patents <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="email-compose.html">Validation</a></li>
                        <li><a href="email-compose.html">Translation</a></li>
                        <li><a href="email-compose.html">Patent Drafting</a></li>
                    </ul>
                </li>

                <li><a href="form-elements.html">Consultancy</a></li>

            </ul>

        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
